* {
	padding: 0px;
	margin: 0px;
	font-family: Comic Sans MS;
}

body {
	background-image: url("img/start.jpg");
	background-size: cover;
	
}

p{
	color: white;
	font-size: 150%;
	text-shadow: 2px 2px black;
}

#text{
	text-align: center;
}

button:hover{
	background: #757575;
	text-decoration: none;
}

.knop1{
	margin-left: 840px;
	margin-top: 50px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
}

.knop2a{
	margin-left: 900px;
	margin-top: 500px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	display: none;
}

.knop2b{
	margin-left: 1300px;
	margin-top: 180px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	display: none;
}

.knop3{
	margin-left: 780px;
	margin-top: 600px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	display: none;
}

#keystone1{
	display: none;
	margin-left: 600px;
	margin-top: 10px;
}

#keystone2{
	display: none;
	margin-left: 650px;
	margin-top: 500px;
}

#keystone3{
	display: none;
	margin-left: 600px;
	margin-top: 20px;
}

#spark{
	display: none;
	opacity: 0.3;
	margin-left: 600px;
	margin-top: 10px;
	max-height: 110px;
	max-width: 110px;
}

.knop3{
	margin-left: 780px;
	margin-top: 600px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	display: none;
}

.knop4{
	margin-left: 1200px;
	margin-top: 200px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	display: none;
}

.knop5a{
	margin-left: 400px;
	margin-top: 500px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	display: none;
}

.knop5b{
	margin-left: 400px;
	margin-top: 200px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	display: none;
}

.knop5c{
	margin-left: 1600px;
	margin-top: 270px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	display: none;
}

.knop5d{
	margin-left: 1600px;
	margin-top: 270px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	display: none;
}

.knop5e{
	margin-left: 1600px;
	margin-top: 270px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	display: none;
}

.knop6{
	margin-left: 1600px;
	margin-top: 270px;
	border-radius: 28px;
	color: #ffffff;
	font-size: 22px;
	padding: 10px 25px 10px 25px;
	border: solid #000000 2px;
	text-decoration: none;
	background: #4bcc00;
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	display: none;
}